<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="static_img/title.ico" type="img/x-ico" />
    <link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/project.css" rel="stylesheet" type="text/css" />
    <title>Group_web</title>
  </head>
  <body>
<div class="header">
  <table>
    <tr>
      <td class="header_td1"><img class="header_img" src="static_img/zhizunbao.png" alt=""></td>
      <td class="header_td2"><ul>
          <li><a href="#">企业首页</a></li><li>新闻资讯</li><li>产品中心</li><li><a href="{:url('projects/index')}">项目案例</a></li><li>服务中心</li><li>关于我们</li>
      </ul></td>
    </tr>
  </table>
</div>

{block name="content"}
{/block}
</body>
</html>
